# {{ ansible_managed }}

global
        #log 127.0.0.1   local1           # all traffic logs
        log 127.0.0.1   local1 notice    # event logs
        maxconn 1024
        chroot {{ haproxy_chroot_dir }}
        # Process user and group
        user {{ haproxy_user }}
        group {{ haproxy_group }}
        daemon
        #debug
        #quiet

defaults
        log     global
        mode    http
        option  tcplog
        option  dontlognull      # don't log empty connections
        #option  dontlog-normal   # log only errors
        #option  log-health-checks
        retries 3
        option  redispatch
        maxconn 1024
        timeout connect       5s
        timeout client       50s
        timeout server       50s
        timeout http-request 10s

{% for component in balancing_components %}
{% if component.backends is not defined %}
listen {{ component.name }}
{% else %}
frontend {{ component.name }}
{% endif %}
        bind {{ load_balancer_host }}:{{ component.load_balancing_port }}
        mode tcp
{% if component.backends is not defined %}
        balance {{ component.balancing_algorithm }}
{% if component.option_check is defined %}
        option {{ component.option_check }}
{% endif %}
{% for node in component.nodes %}
        server {{ node }} {{ node }} check {% if component.params is defined %}{% for param in component.params %}{{ param }} {% endfor %}{% endif %}

{% endfor %}
{% else %}
{% for backend in component.backends %}
{% if component.default_backend != backend.name %}
        acl {{ backend.name }}_path path_beg -i {{ backend.acl_path_beg }}
        use_backend {{ backend.name }} if {{ backend.name }}_path
{% endif %}
{% endfor %}
{% if component.default_backend is defined and component.default_backend != '' %}
        default_backend {{ component.default_backend }}
{% endif %}

{% endif %}

{% if component.backends is defined %}
{% for backend in component.backends %}
backend {{ backend.name }}
        balance {{ backend.balancing_algorithm }}
{% if backend.option_check is defined %}
        option {{ backend.option_check }}
{% endif %}
{% for node in backend.nodes %}
        server {{ node }} {{ node }} check {% if backend.params is defined %}{% for param in backend.params %}{{ param }} {% endfor %}{% endif %}

{% endfor %}
{% endfor %}
{% endif %}

{% endfor %}

## HAProxy stats web gui.
listen stats {{ load_balancer_host }}:{{ webgui_port }}
        # To enable web gui comment out following line and restart HAProxy
{% if webgui_enable %}
        #disabled
{% else %}
        disabled
{% endif %}
        mode http
        stats enable
        stats refresh {{ webgui_refresh_time }}
        stats uri /
        stats auth {{ webgui_user }}:{{ webgui_password }}
        stats realm HAProxy\ Statistics
        stats admin if TRUE
